.top{
  background-color: #EAF6F6;
  text-align: center;
  position: relative;
  height: 37.5rem;
  width: 100%;
}
body{
  color: #40514E;
  margin:0;
  text-align: center;
}

h1{
  margin-top: 0;
  margin-bottom: 20px;
  padding-top: 3rem;
  font-family: 'Sacramento', cursive;
  font-size: 5.5rem;
  color: #66BFBF;
}

h2{
   font-family: 'Merriweather Sans', sans-serif;
   color: #66BFBF;
   font-weight: normal;
   line-height: 2;
}

hr{

   border: solid 5px;
   border-color: #D6E5FA;
   height: 2px;
   width: 45px;
  border-style: dotted;
  border-bottom-style: none;
  margin-bottom: 50px;

}

h3{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;


  }

  .btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  line-height: 8;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #757f85);
  background-image: -moz-linear-gradient(top, #3cb0fd, #757f85);
  background-image: -ms-linear-gradient(top, #3cb0fd, #757f85);
  background-image: -o-linear-gradient(top, #3cb0fd, #757f85);
  background-image: linear-gradient(to bottom, #3cb0fd, #757f85);
  text-decoration: none;
}


p{

  margin-bottom: 20px;
  font-weight: normal;
}

.b-cloud{
  position: absolute;
  left: 280px;
}

.akon{
  padding-top: 40px;
  height: 10%;
  width: 10%;
}

.skill-row{
  margin: 100px auto;
   width: 50%;
   text-align: left;
   line-height: 2;
}

.skill-img{
  width: 45%;
  float: left;
  margin-right: 30px;
}


.t-cloud{
  position: absolute;
  left:1000px;
  top:60px;
}

.mountain{
  position: absolute;
  top:230px;
  right: 350px;
}

@media (max-width:1170px) {
  .t-cloud{
    position: absolute;
    left:90px;
    top:60px;
  }
  .b-cloud{
    margin-left: 330px;
    position:absolute;

  }
  .mountain{
    margin-top: 80px;
    position: absolute;
    top: 280px;
    left: 150px;
    width: 60%;
    height: 40%;
  }
}


.bottom-container{
  padding-top: 40px;
  margin: 0;
  height: 150px;

  background-color: #66BFBF;

}

.footer-link{
  color: #11999E;
  line-height: 3;
}

.copy{
  color: #EAF6F6;
  padding-top: 20px;
}
a{
  padding-left: 20px;
}
